.idea

/public/hot
/public/storage
/routes/console.php
/storage/*.key

/node_modules

/build
/vendor

.env
.env.backup
http-client.private.env.json

_ide_helper*
.phpstorm.meta.php

*.backup
*.cache
*.log
*.orig

*.BASE
*.LOCAL
*.REMOTE
